Data/In/Newest/aclim_thredds*
Data/In/Newest/Rdata/*
Data/In/Newest/roms_for_aclim/*
Data/In/Map_layers/geo_tif/*
Data/In/Map_layers/shp_files/*
Data/In/Map_layers/shp_files/*
Data/In/Newest.zip
Data/In/Map_layers.zip
Data/In/*
Data/out
NotShared
Data/In/archived
R/shiny_aclim/01_aclim_indices/*
*trash
.Rproj.user
*.Rhistory
*.DS_store