Data/out/*
ESR_EBS
Data/In/Map_layers/geo_tif/*
Data/In/Map_layers/shp_files/*
Data/In/Map_layers/shp_files/*

Data/In/Newest
Data/In/Newest/aclim_thredds*
Data/In/Newest/Rdata/*
Data/In/Newest/roms_for_aclim/*
Data/In/Newest.zip
Data/In/lookup_tables.zip

Data/In/NotShared

Data/In/Map_layers.zip
Data/In/Map_layers
Data/In/2022_05_16
Data/In/2022_05_16_Rdata.zip

Data/in/2022_05_16_Rdata/roms_for_public/B10K-K20P19_CMIP6_miroc_ssp585
Data/in/2022_05_16_Rdata/roms_for_public/B10K-H16_CMIP5_CESM_BIO_rcp85
Data/in/2022_05_16_Rdata/roms_for_public/B10K-H16_CMIP5_CESM_rcp45
Data/in/2022_05_16_Rdata/roms_for_public/B10K-H16_CMIP5_CESM_rcp85
Data/in/2022_05_16_Rdata/roms_for_public/B10K-H16_CMIP5_GFDL_BIO_rcp85
Data/in/2022_05_16_Rdata/roms_for_public/B10K-H16_CMIP5_GFDL_rcp45
Data/in/2022_05_16_Rdata/roms_for_public/B10K-H16_CMIP5_GFDL_rcp85
Data/in/2022_05_16_Rdata/roms_for_public/B10K-H16_CMIP5_MIROC_rcp45
Data/in/2022_05_16_Rdata/roms_for_public/B10K-H16_CMIP5_MIROC_rcp85
Data/in/2022_05_16_Rdata/roms_for_public/B10K-H16_CORECFS
Data/in/2022_05_16_Rdata/roms_for_public/B10K-K20_CORECFS
Data/in/2022_05_16_Rdata/roms_for_public/B10K-K20P19_CMIP5_CESM_rcp45
Data/in/2022_05_16_Rdata/roms_for_public/B10K-K20P19_CMIP5_CESM_rcp85
Data/in/2022_05_16_Rdata/roms_for_public/B10K-K20P19_CMIP5_GFDL_rcp45
Data/in/2022_05_16_Rdata/roms_for_public/B10K-K20P19_CMIP5_GFDL_rcp85
Data/in/2022_05_16_Rdata/roms_for_public/B10K-K20P19_CMIP5_MIROC_rcp45
Data/in/2022_05_16_Rdata/roms_for_public/B10K-K20P19_CMIP5_MIROC_rcp85
Data/in/2022_05_16_Rdata/roms_for_public/B10K-K20P19_CMIP6_cesm_historical
Data/in/2022_05_16_Rdata/roms_for_public/B10K-K20P19_CMIP6_cesm_ssp126
Data/in/2022_05_16_Rdata/roms_for_public/B10K-K20P19_CMIP6_cesm_ssp585
Data/in/2022_05_16_Rdata/roms_for_public/B10K-K20P19_CMIP6_gfdl_historical
Data/in/2022_05_16_Rdata/roms_for_public/B10K-K20P19_CMIP6_gfdl_ssp126
Data/in/2022_05_16_Rdata/roms_for_public/B10K-K20P19_CMIP6_gfdl_ssp585
Data/in/2022_05_16_Rdata/roms_for_public/B10K-K20P19_CMIP6_miroc_historical
Data/in/2022_05_16_Rdata/roms_for_public/B10K-K20P19_CMIP6_miroc_ssp126
Data/in/  AFSC_groundfish_survey_temperature_1982-2020_B10K-surveyreplicated.xlsx
AFSC_groundfish_survey_temperature_1982-2020.xlsx

Data/out/ACLIM2_indices
Data/out/ACLIM2_indices.zip
Data/out/CMIP5_H16_Indices_List.Rdata
Data/out/CMIP5_K20_Indices_List.Rdata
Data/out/CMIP6_Indices_List.Rdata
Data/out/H16_CMIP5
Data/out/K20P19_CMIP5
Data/out/K20P19_CMIP6
Data/out/K20P19_CMIP5_C
Data/out/K20P19_CMIP6_C

Data/out/CMIP5_H16_Indices_operational
Data/out/CMIP5_H16_operational
Data/out/CMIP5_K20P19_Indices_operational
Data/out/CMIP6_K20P19_Indices_operational
Data/out/operationalHindForcast
shiny_aclim/ACLIM2_indices/data/*
NotShared
Data/In/archived
R/shiny_aclim/01_aclim_indices/*
*trash
.Rproj.user
*.Rhistory
*.DS_store
Data/out/CMIP5_K20P19_Indices_list.Rdata
Data/out/CMIP5_K20P19_Indices_list_C.Rdata
Data/out/CMIP6_K20_Indices_list.Rdata
Data/out/CMIP6_K20P19_Indices_list_C.Rdata
Data/out/2022_05_16_unzip_and_put_contents_in_the_Data_out_folder.zip
Data/in/2022_05_16_unzip_and_put_contents_in_the_Data_in_folder.zip
Data/.DS_Store
Data/in/.DS_Store
.ACLIM2_quickStart.html.icloud
.ACLIM2_quickStart.md.icloud
.DS_Store
.index.html.icloud
.Rhistory
.Rproj.user/shared/notebooks/paths
R/shiny_aclim/ACLIM2_indices/data/*
