Data/In/Newest/aclim_thredds*
Data/In/Newest/Rdata/*
Data/In/Newest/roms_for_aclim/*
Data/In/Map_layers/geo_tif/*
Data/In/Map_layers/shp_files/*
Data/In/Map_layers/shp_files/*
Data/In/Newest.zip
Data/In/Map_layers.zip
Data/In/Map_layers
Data/In/2022_03_07
Data/In/2022_03_07_Rdata

Data/In/Newest
Data/In/Newest
Data/out/ACLIM2_indices
Data/out/ACLIM2_indices.zip
Data/out/CMIP5_H16_Indices_List.Rdata
Data/out/CMIP5_K20_Indices_List.Rdata
Data/out/CMIP6_Indices_List.Rdata
Data/out/H16_CMIP5
Data/out/K20P19_CMIP5
Data/out/K20P19_CMIP6
NotShared
Data/In/archived
R/shiny_aclim/01_aclim_indices/*
*trash
.Rproj.user
*.Rhistory
*.DS_store